<p id="notice"><%= notice %></p>
<h3>About Us</h3>
<h5>Our Mission</h5>
<p>
To build a community of passionate, dedicated, distance runners in the Washington County area by engaging our members in weekly club runs promoting our values.
</p>
<br/>
<h5>Our Values</h5>
<ul>
  <li>Integrity</li>
  <li>Respect</li>
  <li>Passion</li>
  <li>Dedication</li>
</ul>
<div class="logo"></div>
