<p id="notice"><%= notice %></p>
<h3>About Us</h3>
<h5>Our Mission</h5>
<p>
To build a community of passionate, dedicated, distance runners in the Washington County area.
</p>
<br/>
<div class="logo"></div>
