<p id="notice"><%= notice %></p>

<h1>Documents</h1>

<%= link_to "ADC Wavier", pdfjs.full_path(file: "/documents/adc-waiver.pdf"), target: :_blank%>
<br/>
<%= link_to "ADC Sign-up", "https://docs.google.com/document/d/15CSGXaQtB6-syH3-aqmD_4cNh38WzLYqhES443lUZys/edit?usp=sharing", target: :_blank %>

<br>
